<!doctype html>
<html lang="{{ metadata.language }}">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title or metadata.title }}</title>
    <meta name="description" content="{{ description or metadata.description }}">
    <link href="/output.css" rel="stylesheet">
</head>

<body>
    <header class="p-3">
        <h1 class="text-2xl font-extrabold">Josh Hartley</h1>
        <nav>
            <ul>
                <li><a class="uppercase" href="/">Home</a></li>
                <li><a class="uppercase" href="/about">About</a></li>
                <li><a class="uppercase" href="/projects">Projects</a></li>

            </ul>
        </nav>
    </header>
    <main class="p-3">
        {{content | safe}}
    </main>
</body>

</html>