<!doctype html>
<html lang="{{ metadata.language }}">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Josh Hartley</title>
    <meta name="description" content="{{ description or metadata.description }}">
    <link href="/output.css" rel="stylesheet">
</head>

<body>
    <!--
    <header class="p-8 bg-purple-100 rounded-md flex justify-center">
       
        
        <nav>
            <ul>
                <li><a class="uppercase" href="/">Home</a></li>
                <li><a class="uppercase" href="/about">About</a></li>
                <li><a class="uppercase" href="/projects">Projects</a></li>

            </ul>
        </nav>
       
    </header>
     -->

    {{content | safe}}
  
</body>

</html>